/*
** styles.css: custom styles for the Module 3 assignment.
*/
body {
    font-family: "DejaVu Sans", "Arial", "Helvetica", "sans-serif";
    font-size: 16px;
}

#navbar {
    background-color: #ffffdd;
}

nav li {
    font-weight: bold;
}

#dropdown-menu {
    background-color: #ddffdd;
    margin-left: -15px;
    margin-right: -15px;
}

#dropdown-menu ul {
    margin-top: 0;
    margin-bottom: 0;
}

#dropdown-menu ul:first-child {
    border-top: 1px solid black;
}

#dropdown-menu li {
    border-bottom: 1px solid black;
}

div.colwrapper {
    padding-left: 1em;
    padding-right: 0;
}
div.row {
    padding-right: 1em;
}

section {
    background-color: #ffffdd;
    padding: 0.1em 0.8em 0.8em 0.8em;
    margin-bottom: 1em;
}

/*
** Ends.
*/